.container {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.orange_bg {
    background-color: #a76e05;
}


.blue_bg {
    background-color: #052ba7;
}

.green_bg {
    background-color: forestgreen;
}