.container {
    border: 2px solid #D2D3CD;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}

.processes_container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;

    gap: 10px;
}

